.layout {
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 3fr; /* Cambiamos la estructura de columnas */
  grid-template-rows: auto 1fr auto; /* Cambiamos la estructura de filas */
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

/* Estilos específicos para header, navigation, sidebar, main, y footer */
header {
  grid-area: header;
  /* Agrega estilos adicionales para el header si es necesario */
}

.navigation {
  /* Si navigation necesita estilos adicionales, agrégalos aquí */
}

.sidebar {
  grid-area: sidebar;
  /* Agrega estilos adicionales para la sidebar si es necesario */
}

main {
  grid-area: main;
  /* Agrega estilos adicionales para el main si es necesario */
}

footer {
  grid-area: footer;
  /* Agrega estilos adicionales para el footer si es necesario */
}

@media screen and (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr; /* Cambia a una sola columna en dispositivos móviles */
    grid-template-rows: auto auto 1fr auto auto; /* Cambia la estructura de filas para adaptarse a dispositivos móviles */
    grid-template-areas:
      "header"
      "navigation"
      "sidebar"
      "main"
      "footer";
  }

  /* Estilos adicionales para componentes en dispositivos móviles si es necesario */
}
